{% extends 'base.html.twig' %}

{% block title %}Edit Speaker{% endblock %}

{% block body %}
    <h1>Edit Speaker</h1>

    {{ include('speaker/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('speaker_index') }}">back to list</a>

    {{ include('speaker/_delete_form.html.twig') }}
{% endblock %}
