{% extends 'base.html.twig' %}

{% block title %}Speaker index{% endblock %}

{% block body %}
    <h1>Speaker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.id }}</td>
                <td>{{ speaker.firstname }}</td>
                <td>{{ speaker.lastname }}</td>
                <td>{{ speaker.age }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('speaker_show', {'id': speaker.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('speaker_edit', {'id': speaker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('speaker_new') }}">Create new</a>
{% endblock %}
