{% extends 'base.html.twig' %}

{% block title %}New Speaker{% endblock %}

{% block body %}
    <h1>Create new Speaker</h1>

    {{ include('speaker/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('speaker_index') }}">back to list</a>
{% endblock %}
