{% extends 'base.html.twig' %}

{% block title %}Speaker{% endblock %}

{% block body %}
    <h1>Speaker</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ speaker.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ speaker.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ speaker.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ speaker.age }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('speaker_index') }}">back to list</a>

    <a class="btn btn-secondary" href="{{ path('speaker_edit', {'id': speaker.id}) }}">edit</a>

    {{ include('speaker/_delete_form.html.twig') }}
{% endblock %}
