@import '~bootstrap/dist/css/bootstrap.css';

input {
  margin-left: 10px;
  margin-bottom: 10px;
}

select {
  width: 250px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn{
  margin-bottom: 10px;
}