{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <h1>Subject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ subject.name }}</td>
            </tr>
            {% if subject.averageMark() != 0 %}
                <tr>
                    <th>Moyenne</th>
                    <td>{{ subject.averageMark() }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('subject_index') }}">back to list</a>

    <a class="btn btn-secondary" href="{{ path('subject_edit', {'id': subject.id}) }}">edit</a>

    {{ include('subject/_delete_form.html.twig') }}
{% endblock %}
