<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Symfony Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('student_index') }}">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('project_index') }}">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('subject_index') }}">Subject</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('speaker_index') }}">Speaker</a>
            </li>
        </ul>
    </div>
</nav>