{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>MaxStudent</th>
                <td>{{ project.maxStudent }}</td>
            </tr>
            <tr>
                <th>Mark</th>
                <td>{{ project.mark }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('project_index') }}">back to list</a>

    <a class="btn btn-secondary" href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
